body{
    background-image: url("../img/background.jpg");
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0.767) !important;
} 

div.container#vlak{
    background-color: gray;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 90px;

}
h1{
    text-align: center;
    margin-top: 15px;
}

p{
    font-size: 20px;
    text-align: center;
}

a{
    color: #3a3a3a;
}

a.nav-link{
text-align: right;
}