body{
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0.767) !important;
} 

div.container#vlak{
    background-color: #FFFCEE;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 90px;

}
h1{
    font-family: rustico;
    text-align: center;
    margin-top: 15px;
}

h3{
    font-family: rustico;
    text-align: center;
}

#gohoGorin{
    font-family: rustico;
    font-size: 23px;
}

p{
    font-size: 17px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

img#kuyomon{
    margin-top: 25px;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p#gohoGorin{
    margin-top: 20px;
    margin-bottom: 5px;
}

#Smn{
    color: white;
}

#carousel{
    width: 500px;
}

a{
    color: #3a3a3a;
}

img#logo{
    width: 75px;
    height: 75px;
}

nav{
    height: 80px;
}

#nav-left{
    color: white;
    font-size: 20px;
}

a.nav-link{
text-align: right;
}

@font-face {
    font-family: rustico;
    src: url(../font/Rustico-Regular.otf);
  }