body{
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0.767) !important;
} 

div.container#vlak{
    background-color: #FFFCEE;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 90px;

}
h1{
    text-align: center;
    margin-top: 15px;
}

p{
    font-size: 20px;
    text-align: center;
}

#Smn{
    color: white;
}

#carousel{
    width: 500px;
    height: 
}

a{
    color: #3a3a3a;
}

img#logo{
    width: 150px;
    height: 80px;
}

nav{
    height: 80px;
}

#nav-left{
    color: white;
    font-size: 20px;
}

a.nav-link{
text-align: right;
}